.first{
    background-color: rgb(16, 5, 22);
    display: flex;
    justify-content: space-between;
    
    height: 60vh;
    align-items: center;
    
    padding: 20px;

    box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px, rgba(0, 0, 0, 0.42)
     0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 44px 6px, rgba(0, 0, 0, 0.17)
    0px 12px 13px, rgba(0, 0, 0, 0.19) 0px 44px 5px;
    
}
.fourMain{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    /* box-shadow:  rgba(0, 0, 0, 0.59) 020px 0px 50px; */

}
.fourMain .fourMain-left{
    padding: 10px;
    transition: all 0.6s ease-in-out;
    border-radius: 12px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px, rgba(0, 0, 0, 0.42)
     0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 44px 6px, rgba(0, 0, 0, 0.17)
    0px 12px 13px, rgba(0, 0, 0, 0.19) 0px 44px 5px;
    text-align: left;
}
.fourMain .fourMain-left:hover{
    transform: translateX(50px);
}
.fourMain .fourMain-right img{
    height: 50vh;
    transition: all 0.6s ease-in-out;
}
.fourMain .fourMain-right img:hover{
    transform: scale(1.09);
}